*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #1e1e21;
}
#navbar{
    height: 90px;
    width: 100%;
    margin-top: 40px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    position: fixed;
}

#navbar button1{
    height: 55px;
    width: 55px;
    background-color: #1e1e21;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar button2{
    height: 70px;
    width: 150px;
    background-color: #1e1e21;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    font-size: 30px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 78%;
    width: 100%;
    padding: 100px;
}

#intro h1{
    font-size: 135px;
    letter-spacing: -6px;
    line-height: 130px;
}

#place{
    display: flex;
    justify-content: space-between;
    padding: 35px 20px 0 0;
}

#place p{
    font-size: 26px;
    font-weight: 600;
}

#place i{
    height: 20px;
    width: 20px;
}

#hero-image{
    height: 90%;
    width: 100%;
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp");
    background-size: cover;
}

#about{
    /* height: 95%; */
    margin: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#about h2{
    width: 60%;
    font-size: 85px;
    font-weight: 600;
    line-height: 85px;
    letter-spacing: -3px;
}

#about-part2{
    height: 80%;
    width: 35%;
    font-size: 30px;
    border-left: 2px solid black;
    padding: 10px 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#icons i{
    font-size: 25px;
    font-weight: 500;
    background-color: #1e1e21;
    color: white;
    border-radius: 50%;
    padding: 13px;
    gap: 10px;
}

#work{
    width: 90%;
    display: flex;
}
#work-part1{
    width: 30%;
    border-right: 2px solid black;
    font-size: 30px;
    font-weight: 600;
}

#work-part2{
    width: 30%;
    border-right: 2px solid black;
}

#work-part2 h2{
    font-size: 80px;
    font-weight: 600;
}

#work-part2 h4{
    font-size: 30px;
    color: #80808895;
}

#work-part3{
    width: 30%;
}

#work-part3 h2{
    font-size: 80px;
    color: black;
}

#work-part3 h4{
    font-size: 30px;
    
}